{% extends 'base.html' %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="list-group">
					{% for category in categories %}
						<a href="{{ category.get_absolute_url }}" class="list-group-item">{{ category.name }}</a>
					{% endfor %}
				</div>
			</div>
			<div class="col-md-9">
				<div class="row">
					{% for product in products %}
						<div class="col-sm-4 col-lg-4 col-md-4">
							<div class="thumbnail">
								<a href="{{ product.get_absolute_url }}">
									<img src="{{ product.image.url }}" alt="" style="width:100%; height: 180px;">
								</a>
								<div class="caption">
									<h4 class="pull-right">{{ product.price }} руб.</h4>
									<h5><strong><a href="{{ product.get_absolute_url }}">{{ product.title }}</a></strong></h5>
									<p>{{ product.description }}</p>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
{% endblock content %}